*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  header{
    background-image: url('../img/pattern.png');
    background-color: aqua;
    background-size: contain;
    background-size: 20;

}

    .logo {
        width: 20%;
        margin-top: 3%;
        margin-left: 57px;
        height: 30px;
    }

    .container {
        margin-left: 10%;
        margin-top: 1%;
        font-size: large;
    }

    .title{
        color: grey;
    }
    .title2{
        color: lightblue;
    }

    .description {
        font-size: 90%;

    }

    .picture{
        margin-top: 1%;
    }

    .news{
        margin-top: 1%;
        
    }

    .list{
        margin-top: 1%;
        margin-left: 1%;
    }


